In [3]:
import pandas as pd
df = pd.read_csv("../data/processed/sample_100k.csv")

In [4]:
df.shape

(100000, 150)

In [5]:
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Columns: 150 entries, id to settlement_term
dtypes: float64(111), int64(1), object(38)
memory usage: 114.4+ MB

In [6]:
df["loan_status"].value_counts()
df["loan_status"].value_counts(normalize=True)

loan_status
Current                                                0.46006
Fully Paid                                             0.41923
Charged Off                                            0.10340
Late (31-120 days)                                     0.00999
In Grace Period                                        0.00443
Late (16-30 days)                                      0.00187
Does not meet the credit policy. Status:Fully Paid     0.00077
Does not meet the credit policy. Status:Charged Off    0.00025
Name: proportion, dtype: float64

In [7]:
missing = (
    df.isna()
    .mean()
    .sort_values(ascending=False)
)

missing.head(20)

member_id                                     1.00000
orig_projected_additional_accrued_interest    0.99651
hardship_end_date                             0.99579
hardship_start_date                           0.99579
hardship_type                                 0.99579
hardship_reason                               0.99579
hardship_status                               0.99579
deferral_term                                 0.99579
hardship_last_payment_amount                  0.99579
hardship_payoff_balance_amount                0.99579
hardship_loan_status                          0.99579
hardship_dpd                                  0.99579
hardship_length                               0.99579
payment_plan_start_date                       0.99579
hardship_amount                               0.99579
settlement_term                               0.98664
debt_settlement_flag_date                     0.98664
settlement_status                             0.98664
settlement_date                               0.98664
settlement_amount                             0.98664
dtype: float64

In [8]:
risk_cols = [
    "loan_amnt", "int_rate", "dti",
    "revol_util", "annual_inc",
    "delinq_2yrs", "inq_last_6mths"
]

df[risk_cols].describe()

,loan_amnt,dti,annual_inc,delinq_2yrs,inq_last_6mths
count,100000.000000,99908.000000,1.000000e+05,100000.000000,100000.000000
mean,15214.005250,19.206647,7.871985e+04,0.294900,0.559220
std,9366.125294,16.445396,8.449437e+04,0.854249,0.866026
min,1000.000000,0.000000,0.000000e+00,0.000000,0.000000
25%,8000.000000,12.020000,4.650000e+04,0.000000,0.000000
50%,13000.000000,18.050000,6.500000e+04,0.000000,0.000000
75%,20000.000000,24.770000,9.500000e+04,0.000000,1.000000
max,40000.000000,999.000000,1.099920e+07,24.000000,17.000000

In [9]:
df["purpose"].value_counts().head(10)
df["term"].value_counts()
df["emp_length"].value_counts(dropna=False)

emp_length
10+ years    32569
2 years       9065
< 1 year      8848
3 years       7993
NaN           6822
1 year        6599
5 years       6227
4 years       6152
6 years       4343
7 years       4092
8 years       3962
9 years       3328
Name: count, dtype: int64

In [10]:
pd.crosstab(
    df["loan_status"],
    pd.cut(df["dti"], bins=[0,20,30,40,100]),
    normalize="index"
)

dti,"(0, 20]","(20, 30]","(30, 40]","(40, 100]"
loan_status,,,,
Charged Off,0.505134,0.354320,0.132410,0.008136
Current,0.558775,0.305607,0.112808,0.022811
Does not meet the credit policy. Status:Charged Off,0.760000,0.240000,0.000000,0.000000
Does not meet the credit policy. Status:Fully Paid,0.753247,0.246753,0.000000,0.000000
Fully Paid,0.622918,0.292986,0.079938,0.004158
In Grace Period,0.522831,0.328767,0.111872,0.036530
Late (16-30 days),0.616216,0.308108,0.070270,0.005405
Late (31-120 days),0.539086,0.318782,0.113706,0.028426

In [12]:
df.to_csv("../data/processed/profiling_snapshot.csv", index=False)